* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/** Header */
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    display: flex;
    color: rgb(152, 214, 214);
    font-size: 220%;
    justify-content: space-between;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(56, 56, 56);
}



/** Header Title */
.title {
    background-color: rgb(195, 255, 255);
    text-align: right;
    font-size: 38px;
    padding-right: 10px;
    vertical-align: middle;
    margin-top: 25px;
    width: 200px;
    right: 0px;
    color: rgb(56, 56, 56)
}


/** Nav Bar */
span.nav {
    right: 0;
    width: 600px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    
}


ul.nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(195, 255, 255);
    font-size: 14pt;
    list-style-type: none;
    margin-top: 30px;

}

li {
    display: inline;
    padding-left: 20px;
}

/** Image Bar */
.image {
    width: 2000px;
    height: 300px;
    overflow: hidden;
}

/* image-bar .subtitle   */
.header-subtitle {
    background-color: rgb(195, 255, 255);
    position: absolute;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    top: 245px;
    bottom: 8px;
    right: 60px;
    height: 40px;
    width: 150px;
    color: rgb(56, 56, 56)
}



/** Main Sections */
div.section {
    margin-top: 75px;
    margin-left: 100px;
    width: 100%;
    display: inline-block;
    color: rgb(56, 56, 56);
    ;
    margin-right: 20px;
}

div.section .heading {
    float: left;
    font-family: 'Arial';
    font-size: 50pt;
    text-align: right;
    padding-right: 10px;
    border-right: rgb(56, 56, 56) solid 4px;
    height: 250px;
    width: 185px;
    padding-right: 15px;
}

div.section .content {
    word-wrap: break-word;
    padding-left: 250px;
    width: 55%;
    font-size: 18px;

}

div.section .work-heading {
    float: left;
    font-family: 'Arial';
    font-size: 50pt;
    text-align: right;
    padding-right: 10px;
    border-right: rgb(56, 56, 56) solid 4px;
    height: 940px;
    width: 185px;
    padding-right: 15px;
}

.work-image-box {
    position: relative;
    height: 100px;
    width: 100px;
    padding: 0px;
    margin: 0px;
}

.work-image { 

    position: relative;
    bottom: 939px;
    left: 246px;
    padding: 0px 0px;
    margin: 5px;
    object-fit: cover;
    overflow: hidden;
    width: 826px;
    height: 539px;
    border: 7px solid rgb(123, 179, 179);
}

/* Grid Images subtitles */
.work-subtitle {
    background-color: rgb(123, 179, 179);
    position: absolute;
    text-align: center;
    padding-left: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    top: 470px;
    bottom: 8px;
    left: 255px;
    height: 40px;
    width: 150px;
    color: rgb(56, 56, 56)
}

@media screen and (max-width: 992px) {
    .work-wrapper{
        
    }

    .work-image-box {
        position: relative;
        height: 100px;
        width: 100px;
        padding: 0px;
        margin: 0px;
    }

    
    .work-image { 
    
        position: relative;
        bottom: 939px;
        left: 246px;
        padding: 0px 0px;
        margin: 5px;
        object-fit: cover;
        overflow: hidden;
        width: 400px;
        height: 300px;
        border: 7px solid rgb(123, 179, 179);
    }
    
    .work-subtitle {
        background-color: rgb(123, 179, 179);
        position: absolute;
        z-index: 3 !important;
        text-align: center;
        padding-left: 2px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        top: 225px;
        bottom: 8px;
        left: 255px;
        height: 40px;
        width: 150px;
        color: rgb(56, 56, 56)
    }
    
    .work-subtitle h1 {
    }
    .work-subtitle p {
        display: flex;
        padding-left: 22px;
        font-size: 12pt;
    }
}




/* Grid Items/Images */
.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 4px;
  }

  .column {
    flex: 50%;
    padding: 8px 4px;
  }
  
  .column img {
    position: relative;
    bottom: 941px;
    left: 338px;
    padding: 0px 0px;
    margin: 5px;
    object-fit: cover;
    width: 400px;
    height: 150px;
    border: 7px solid rgb(123, 179, 179);
  }



p {
    font-size: 18px;
    left: 2px;
    background-color: rgb(123, 179, 179);
    padding-top: 8px;
    padding-bottom: 0px;
    padding-right: 40px;
} 


.led-subtitle {
    background-color: rgb(123, 179, 179);
    position: absolute;
    min-height: 50px;
    text-align: left;
    padding-left: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    bottom: 1175px;
    left: 355px;
    color: rgb(56, 56, 56)
}

.calculator-subtitle {
    background-color: rgb(123, 179, 179);
    position: absolute;
    min-height: 50px;
    text-align: left;
    padding-left: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    top: 1550px;
    bottom: 8px;
    left: 355px;
    height: 40px;
    width: 180px;
    color: rgb(56, 56, 56)
}

@media screen and (max-width: 992px) {
    .led
}


